@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4 {
    color: #0f172a;
}

html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark h6 {
    color: white;
}

html.dark input {
    background-color: #232931;
    border-color: #0f172a;
}