@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4 {
    color: #0f172a;
}

html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark h6 {
    color: white;
}

html.dark input, html.dark select, html.dark option {
    background-color: #131921;
    border-color: #0f172a;
}

html, body {
    height: 100%; /* Sayfa yüksekliği %100 */
    margin: 0; /* Varsayılan margin'i kaldır */
}
  
  body {
    display: grid; /* Grid sistemi */
    grid-template-rows: auto 1fr auto; /* Header, main-content ve footer sırasıyla yerleşsin */
    height: 100%; /* Yüksekliği %100 yap */
}
